/* Dashboard Styles */

html, head, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

header.stickyNavbar {
    position: sticky;
    width: 100%;
    top: 0;
}

header.siteNavHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 3%;
    background-color: #1a73e8;
    box-shadow: 0px 1px 19px 0px rgba(0, 0, 0, 0.75);
}

/* The side navigation menu */

div.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    box-shadow: 3px 0px 32px -10px rgba(0, 0, 0, 0.75);
}

/* The navigation menu links */

div.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* Position and style the close button (top right corner) */

div.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding: 0;
}

.closebtn:hover {
    color: black;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    div.sidenav {
        padding-top: 15px;
    }
    div.sidenav a {
        font-size: 18px;
    }
}

button.dropdownBtn {
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50%;
    background-color: #1a73e8;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
    transition: 0.3s;
}

button.dropdownBtn:hover {
    background-color: #0d66db;
    color: white;
}

h1.navMainTitle {
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin: 0px;
    margin-right: auto;
    padding: 0px;
    padding-left: 20px;
}

nav.navbarItems li a {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    transition: all 0.2s ease 0s;
}

ul.navbarLinks {
    list-style: none;
    margin: 0;
}

ul.navbarLinks li {
    display: inline-block;
    padding: 0px 20px;
}

ul.navbarLinks li a:hover {
    color: #e0dede;
}

section.mainDashSection {
    margin: 60px auto;
    padding: 0 8%;
    width: 100%;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

section.mainDashSection article {
    background-color: white;
}

section.userDashSection {
    width: 100%;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 1fr minmax(100px, 20%) 5fr;
    grid-gap: 5px;
}

section.userDashSection article {
    background-color: white;
}

article.userIconContainer {
    margin: auto;
}

div.userIcon img {
    width: 100%;
    height: auto;
    max-height: 160px;
    max-width: 160px;
    min-height: 120px;
    min-width: 120px;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1.nameTitle {
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
    padding: 5%;
    padding-bottom: 2px;
}

@media screen and (max-width: 1000px) {
    h1.nameTitle {
        font-size: 20px;
    }
}

h1.gradYearDisplay {
    margin: 0;
    padding: 5%;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    font-weight: 400;
}

@media screen and (max-width: 1000px) {
    h1.gradYearDisplay {
        font-size: 20px;
    }
}

h1.hoursTitle {
    margin: 0;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    color: gray;
}

button.btnRipple {
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    outline: none;
    border: none;
    color: #1a73e8;
    background-color: #f0f0f0;
    border-radius: 10px;
    transition: 0.3s;
    overflow: hidden;
    position: relative;
    min-width: 100%;
    width: 100%;
    min-height: 40px;
    height: 40px;
}

button.btnRipple:hover {
    transition: 0.3s;
    background-color: #dbdbdb;
    outline: none;
}

button.btnRipple .ripple {
    border-radius: 50%;
    background-color: rgba(129, 174, 240, 0.7);
    position: absolute;
    transform: scale(0);
    animation: ripple 0.6s linear;
}

@keyframes ripple {
    to {
        transform: scale(2.5);
        opacity: 0;
    }
}

h1.userProgressTitle {
    margin: 0;
    padding: 12px;
    color: gray;
    font-size: 20px;
    font-weight: 500;
}

div.userProgress {
    width: 100%;
    height: 100%;
}

div.progressBarDiv {
    margin: 0;
    padding-left: 20px;
}

progress.progressBarStyles {
    border-radius: 50px; 
    width: 100%;
    height: 15px;
    margin: 0;
}
progress.progressBarStyles::-webkit-progress-bar {
    background-color: #f7f7f7;
    border: 1px solid #dedcdc;
    border-radius: 50px;
}
progress.progressBarStyles::-webkit-progress-value {
    background-color: #1a73e8;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

span.completedHrsStatement {
    color: gray;
    font-weight: 450;
    display: flex;
    justify-content: center;
}

div.addHoursContainer {
    width: 100%;
    height: 100%;
    min-height: 50px;
    background-color: #ebebeb;
    border-radius: 8px;
}

button.addHoursBtn {
    display: block;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 50%;
    background-color: #ebebeb;
    color: #1a73e8;
    border: none;
    outline: none;
    font-size: 20px;
}

button.addHoursBtn:hover {
    background-color: #d6d6d6;
    transition: 0.2s;
}

button.deleteAll {
    display: block;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: right;
    text-align: center;
    line-height: 50%;
    background-color: #ebebeb;
    color: #cb0001;
    border: none;
    outline: none;
    font-size: 20px;
}

button.deleteAll:hover {
    background-color: #d6d6d6;
    transition: 0.2s;
}

div.deleteThisFileModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height - KEEP */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

div.deleteAllFilesModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height - KEEP */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

div.deleteThisFileContent {
    background-color: #fefefe;
    margin: 18% auto;
    padding: 20px;
    border: none;
    width: 400px;
    border-radius: 10px;
}

div.deleteAllFilesContent {
    background-color: #fefefe;
    margin: 18% auto;
    padding: 20px;
    border: none;
    width: 400px;
    border-radius: 10px;
}

section.confirmFileDelete {
    width: 100%;
    display: grid;
    grid-auto-rows: minmax(2px, auto);
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

section.confirmDeleteAll {
    width: 100%;
    display: grid;
    grid-auto-rows: minmax(2px, auto);
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

p.deleteFileTitle {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    font-weight: 500;
    color: #949494;
}

input.dashTextInput {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 8px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.2s;
}

input.passwordRepl {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 8px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.2s;
}

.inputWithIcon input.dashTextInput {
    padding-left: 35px;
}

.inputWithIcon input.passwordRepl {
    padding-left: 35px;
}

.inputWithIcon {
    position: relative;
}

.inputWithIcon i {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 12px 10px;
    color: gray;
    transition: 0.3s;
}

.inputWithIcon input.dashTextInput:focus+i {
    color: #03a5fc;
}

.inputWithIcon input.passwordRepl:focus+i {
    color: #03a5fc;
}

section.cancelConfirm {
    width: 100%;
    display: grid;
    grid-auto-rows: minmax(20px, auto);
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

button.fileDeleteBtns {
    width: 100%;
    background-color: white;
    cursor: pointer;
    display: inline-block;
    padding: 0.6em 1.4em;
    outline: none;
    border: 2px solid #64b5e3;
    margin: 0.2em 0.3em 0.3em 0;
    border-radius: 8px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 500;
    color: #64b5e3;
    text-align: center;
    transition: all 0.2s;
}

button.fileDeleteBtns:hover {
    color: #FFFFFF;
    background-color: #03a5fc;
    border-color: #03a5fc;
}

div.ahp {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height - KEEP */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

div.ahp-content {
    background-color: #fefefe;
    margin: 12% auto;
    padding: 20px;
    border: none;
    width: 700px;
    border-radius: 10px;
}

p.uploadFilesTitle {
    margin: 0;
    padding-left: 40px;
    padding-top: 5px;
    width: 250px;
    float: left;
    font-size: 20px;
    font-weight: 500;
    color: gray;
}

i.ahp-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

i.ahp-close:hover, i.ahp-close:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

#fileInput {
    display: none;
}

label.selectFilesLabel {
    background-color: #1a73e8;
    color: white;
    border-radius: 8px;
    padding: 10px 65px;
    cursor: pointer;
    transition: 0.3s;
}

label.selectFilesLabel:hover {
    background-color: #0c5ec9;
}

span.fileSelectSpan {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

section.fileSelectContent {
    width: 100%;
    display: grid;
    grid-auto-rows: minmax(20px, auto);
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

div.iconDiv {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 33px;
    padding-bottom: 0;
}

section.topFileSelectSection {
    width: 100%;
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;
}

section.bottomFileSelectSection {
    width: 100%;
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: 1fr;
    grid-gap: 4px;
}

div.fileUpload {
    display: flex;
    justify-content: center;
    padding: 38px;
    margin: 0px;
    width: 50%;
    float: left;
}

article.uploadBtnContainer {
    justify-content: center;
    display: flex;
}

button.uploadFilesBtn {
    /* Go to the right of the browse button */
    float: right;
    margin-top: 36px;
    margin-bottom: 41px;
    margin-right: 80px;
    outline: none;
    border: none;
    background-color: #1a73e8;
    color: white;
    border-radius: 8px;
    padding: 10px 65px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
    font-size: 16px;
}

button.uploadFilesBtn:hover {
    background-color: #0c5ec9;
}

/** ADMIN DASHBOARD STYLES **/

div.sidenavadmin {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 220px;
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: white;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 10px;
}

div.sidenav-separator {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

h2.sideNavAdminTitle {
    padding: 0;
    padding-bottom: 15px;
    margin: 0;
    text-align: center;
    color: #1a73e8;
    font-weight: 400;
}

div.sidenavadmin a {
    text-align: left;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #818181;
    display: block;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 40px;
}

div.sidenavadmin a:hover {
    background-color: #ededed;
    transition: 0.2s;
}

div.main {
    margin-left: 220px;
    padding: 0px;
    height: 100%;
    background-color: #f0f0f0;
}

section.students-admin-dash-section {
    margin: 25px auto;
    padding: 0 25px;
    width: 100%;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

section.reviewed-admin-dash-section {
    margin: 30px 30px;
    padding: 0;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

section.adminDashSection article {
    background-color: white;
}

div.searchForStudentsDiv {
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

div.searchForStudentsDiv:hover {
    box-shadow: 0px 0px 65px -24px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
}

section.searchForm {
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
}

section.searchForm article {
    display: flex;
    justify-content: center;
}

input.searchBox {
    width: 100%;
    padding: 10px;
    padding-left: 15px;
    margin: 20px 5px 20px 20px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
}

button.searchBtn {
    width: 100%;
    padding: 10px;
    padding-left: 15px;
    margin: 20px 20px 20px 5px;
    border: none;
    background-color: #1a73e8;
    border-radius: 5px;
    outline: none;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

button.searchBtn:hover {
    cursor: pointer;
    background-color: #0c5ec9;
    transition: 0.2s;
}

section.submissions-admin-dash-section {
    margin: 30px 30px;
    padding: 0;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

p.submissionReviewTitle {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #818181;
}

div.reviewBackground {
    background-color: white;
    border-radius: 8px;
    min-height: 50px;
}

section.reviewFormSection {
    margin: 0;
    padding: 15px;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    display: none;
}

/* Ignore for now
section.ifApprovedDeclinedSection {
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
*/

p.reviewFormTitles {
    padding: none;
    padding-left: 3px;
    padding-bottom: 5px;
    padding-top: 20px;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    color: #1a73e8;
}

input.aodInput {
    padding: none;
    margin-top: 18px;
    cursor: pointer;
}

span.aodInputText {
    font-size: 13px;
    font-weight: 430;
    color: #818181;
}

.group {
    position: relative;
    margin-bottom: 45px;
    margin-top: 20px;
}

input.gmdInput {
    font-size: 15px;
    padding: 10px 10px 10px 0px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

input.gmdInput:focus {
    outline: none;
}

/* LABEL ======================================= */

label.gmdLabel {
    color: #999;
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */

inputgmdInput:focus~label, input.gmdInput:valid~label {
    top: -12px;
    font-size: 14px;
    color: #1a73e8;
}

/* BOTTOM BARS ================================= */

.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #1a73e8;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */

input.gmdInput:focus~.bar:before, input.gmdInput:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */

input.gmdInput:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

button.approveSubmissionBtn {
    width: 100%;
    padding: 10px;
    padding-left: 15px;
    margin: none;
    border: none;
    background-color: #1a73e8;
    border-radius: 5px;
    outline: none;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

button.approveSubmissionBtn:hover {
    cursor: pointer;
    background-color: #0c5ec9;
    transition: 0.2s;
}