.errContainer {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
}

.emessage {
    width: 80%;
    display: inline-block;
}

.errorTitle {
    color: #db1212;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}