.fileErrorContainer {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
}

.fileErrorMessage {
    width: 80%;
    display: inline-block;
}

.fileErrorTitle {
    color:#b31515;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}