div.pendingFileContainer {
    width: 100%;
    height: 50px;
    background-color:#ebebeb;
    border-radius: 8px;
    margin-bottom: 5px;
}

div.pendingFileContainer:hover {
    background-color:#e6e6e6;
    cursor: pointer;
}

p.pendingFileName {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    width: 60%;
    float: left;
    line-height: 48px;
    font-size: 14px;
    font-weight: 500;
    color:#1a73e8;
}

div.pendingFileContainer:hover button.deleteFile {
    display: block;
}

button.deleteFile {
    display: none;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: right;
    text-align: center;
    background-color:#e6e6e6;
    color: #cb0001;
    border: none;
    outline: none;
    font-size: 20px;
}

button.deleteFile:hover {
    background-color:#d6d6d6;
    transition: 0.2s;
}